<div class="map-stage">
  <img class="map-plate" [src]="mapSrc()" [alt]="'Lámina de ' + regionLabel()" />
  <img class="compass" src="/assets/plates/compass.png" alt="" />
  <!-- @if (showPin()) {
    <img class="pin" src="/assets/plates/pin-mexico.png" alt="" />
  } -->
</div>

<aside class="rail">
  <h1 class="rail-title">{{ regionLabel() }}</h1>

  @if (countryResource.isLoading()) {
    <p class="loading-copy">Desplegando la lámina…</p>
  }

  @if (countryResource.hasValue()) {
    <country-list
      [countries]="pinnedCountries()"
      [hasValues]="true"
      [(selectedCode)]="selectedCode"
    />
  } @else {
    <country-list [errorMessage]="countryResource.error()?.message" />
  }
</aside>
